{% extends "base.html" %}
{% load static %}

{% block page_content %}
<body style="background-color: #1a1a1a;color: rgb(247,249,250);">
    <div class="container-fluid px-0" id="main-content">
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 offset-sm-0">
                <div class="pic"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 align-self-center right-col" style="justify-content: center;">
                <div class="text-left mx-auto" style="width: 80%;">
                    <h1 class="fl-yellow" style="font-family: 'Roboto Mono', monospace;width: 90%;padding-top: 25px; font-size: 26px;">Hey, I`am</h1>
                    <h1 style="padding-top: 5px;">DENIS MIRONOV</h1>
                    <p class="text-left main-text fl-yellow" style="font-family: 'Roboto Mono', monospace;width: 90%;padding-top: 15px;"> I trully love this world! I love this world so much that I never stop to be amazed every day of my life! <br><br></p>
                    <p class="text-left main-text fl-yellow" style="font-family: 'Roboto Mono', monospace;width: 90%;padding-top: 15px;">Wudmc.ru is the online home of myself — <span style="display: inline-block; border: 1px solid white; display: inline-block;border: 1px solid white;padding: 0 6px 0 6px;border-radius: 0.25rem"> marketing data analyst</span>, photographer, perpetual explorer, and still-aspiring polymath.<br><br></p><a class="btn btn-primary" href="/skills.html">See my skills</a></div>
         	<div class="mx-auto" style="width: 80%;">   
                {% include "sign.html"%}
                </div>
                    </div>
                </div>
            </div>
        </body>
{% endblock %}
