<!DOCTYPE html>
<html style="background-color: #1a1a1a;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Denis Mironov</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(71372983, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/71372983" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <!-- calltouch -->
    <script type="text/javascript">
        (function(w,d,n,c){w.CalltouchDataObject=n;w[n]=function(){w[n]["callbacks"].push(arguments)};if(!w[n]["callbacks"]){w[n]["callbacks"]=[]}w[n]["loaded"]=false;if(typeof c!=="object"){c=[c]}w[n]["counters"]=c;for(var i=0;i<c.length;i+=1){p(c[i])}function p(cId){var a=d.getElementsByTagName("script")[0],s=d.createElement("script"),i=function(){a.parentNode.insertBefore(s,a)};s.type="text/javascript";s.async=true;s.src="https://mod.calltouch.ru/init.js?id="+cId;if(w.opera=="[object Opera]"){d.addEventListener("DOMContentLoaded",i,false)}else{i()}}})(window,document,"ct","7mvmnami");
    </script>
    <!-- calltouch -->
</head>

<body style="background-color: #1a1a1a;color: rgb(247,249,250);">
    <div class="container-fluid px-0" id="main-content">
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 offset-sm-0">
                <div class="pic"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 align-self-center right-col" style="justify-content: center;">
                <div class="text-left mx-auto" style="width: 80%;">
                    <h1 class="fl-yellow" style="font-family: 'Roboto Mono', monospace;width: 90%;padding-top: 25px; font-size: 26px;">Hey, I`am</h1>
                    <h1 style="padding-top: 5px;">DENIS MIRONOV</h1>
                    <p class="text-left main-text fl-yellow" style="font-family: 'Roboto Mono', monospace;width: 90%;padding-top: 15px;"> I trully love this world! I love this world so much that I never stop to be amazed every day of my life! <br><br></p>
                    <p class="text-left main-text fl-yellow" style="font-family: 'Roboto Mono', monospace;width: 90%;padding-top: 15px;">Wudmc.ru is the online home of myself — <span style="display: inline-block; border: 1px solid white; display: inline-block;border: 1px solid white;padding: 0 6px 0 6px;border-radius: 0.25rem"> marketing data analyst</span>, photographer, perpetual explorer, and still-aspiring polymath.<br><br></p><a class="btn btn-primary" href="/skills.html">See my skills</a></div>
                        <div class="mx-auto" style="width: 80%;">
                            <p class="contacts">mironovdenis@list.ru<br>+7 920 9444-555<br></p>
                        </div>
                        <div class="mx-auto icons">
                        	<a href="https://t.me/wudmc"><img src="/assets/img/tg.png" style="width: 20px;height: 20px;margin-right: 5px;margin-left: 5px;"></a>
                        	<a href="https://www.facebook.com/wudmc"><img src="/assets/img/face.svg" style="width: 20px;height: 20px;margin-right: 5px;margin-left: 5px;"></a>
                          <a href="https://hh.ru/resume/3f6dccf9ff081cb5980039ed1f4f73644e4e72"><img src="/assets/img/hh.png" style="width: 20px;height: 20px;margin-right: 5px;margin-left: 5px;"></a>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        </body>

        </html>
