<div style="margin: 30px 0 10px">
    <a class="btn btn-primary small" href="/">Home</a>
    {% if request.get_full_path != "/skills.html" %}<a class="btn btn-primary small" href="/skills.html">Professional skills</a>{% endif %}
    {% if request.get_full_path != "/hobbies.html" %}<a class="btn btn-primary small" href="/hobbies.html">Life style</a>{% endif %}
<!--    {% if request.get_full_path != "/projects.html" %}<a class="btn btn-primary small" href="/projects.html">Pet projects</a>{% endif %}-->
</div>