<!DOCTYPE html>
<html lang="en">
  <head>
<meta name="wot-verification" content="e57a437cf3f81906bbee"/> 
<meta name="yandex-verification" content="76d79aa8f0308f9f" />

    <title>ПрофКарниз - политика конфиденциальности</title>
	<meta name="description" content="политика конфиденциальности для пользователей ресурса profkarniz.ru">
    <!-- Required Meta Tags Always Come First -->
    <meta charset='Content-Type: text/html; utf-8' http-equiv='Content-Type'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="canonical" href="https://profkarniz.ru/politica-confidencialnosti.html">

 
    <!-- favicon -->
    <link rel="shortcut icon" href="favicon.ico">

<?php include $_SERVER['DOCUMENT_ROOT']."/add/styles.php";  ?>

    <?php include $_SERVER['DOCUMENT_ROOT']."/add/startmobiledetect.php";  ?>

    <?php include $_SERVER['DOCUMENT_ROOT']."/add/gtm.php"; ?>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(76399201, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/76399201" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  </head>

 <body class=" <?= $bodyclass ?>">

<?= $headerleft ?>
<?= $headertop ?>

     <main>
	

	
	


	

<div id="s2">
 <section id="politica" class="g-pt-90 g-mb-30">
	
	<div class="container"><p>Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, 
	которую данный сайт - profkarniz.ru, на котором размещен текст этой Политики конфиденциальности, может получить о Пользователе, а также любых программ и продуктов, размещенных на нем.
	Любой пользователь ресурса profkarniz.ru, который зашёл на сайт по адресу profkarniz.ru соглашается с условиями обработки его персональных данных. Для уточнения любых
	сведений о пользователе или о работе информационного ресурса, или для решения каких-либо иных вопросов необходимо отправлять email сообщение для администрации сайта на почту:
	<a href="mailto:info@profkarniz.ru">info@profkarniz.ru</a>  </p>
<h2>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</h2>
<p>1.1 В настоящей Политике конфиденциальности используются следующие термины:</p>
<p>1.1.1. «Администрация сайта» – уполномоченные сотрудники на управления сайтом, действующие от его имени, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.</p>
<p>1.1.2. «Персональные данные» &#8212; любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).</p>
<p>1.1.3. «Обработка персональных данных» &#8212; любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
<p>1.1.4. «Конфиденциальность персональных данных» &#8212; обязательное для соблюдения Администрацией сайта требование не допускать их умышленного распространения без согласия субъекта персональных данных или наличия иного законного основания.</p>
<p>1.1.5. «Пользователь сайта (далее Пользователь)» – лицо, имеющее доступ к сайту, посредством сети Интернет и использующее данный сайт для своих целей.</p>
<p>1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.</p>
<p>1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.</p>
<h2>2. ОБЩИЕ ПОЛОЖЕНИЯ</h2>
<p>2.1. Использование Пользователем сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.</p>
<p>2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта.</p>
<p>2.3.Настоящая Политика конфиденциальности применяется только к данному сайту. Администрация сайта не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на данном сайте.</p>
<p>2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта.</p>
<h2>3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</h2>
<p>3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по умышленному неразглашению персональных данных, которые Пользователь предоставляет по разнообразным запросам Администрации сайта (например, при регистрации на сайте, оформлении заказа, подписки на уведомления и т.п).</p>
<p>3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения специальных форм на Сайте и обычно включают в себя следующую информацию:</p>
<p>3.2.1. фамилию, имя, отчество Пользователя;</p>
<p>3.2.2. контактный телефон Пользователя;</p>
<p>3.2.3. адрес электронной почты (e-mail);</p>
<p>3.2.4. адрес объекта для проведения замера и последующей реализации услуги</p>
<p>3.3. Администрация сайта также принимает усилия по защите Персональных данных, которые автоматически передаются в процессе посещения страниц сайта:</p>
<p>IP адрес;<br />
информация из cookies;<br />
информация о браузере (или иной программе, которая осуществляет доступ к сайту);<br />
время доступа;<br />
посещенные адреса страниц;<br />
реферер (адрес предыдущей страницы) и т.п.</p>
<p>3.3.1. Отключение cookies может повлечь невозможность доступа к сайту.</p>
<p>3.3.2. Сайт осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля корректности проводимых операций.</p>
<p>3.4. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.) не подлежит умышленному разглашению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.</p>
<h2>4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</h2>
<p>4.1. Персональные данные Пользователя Администрация сайта может использовать в целях:</p>
<p>4.1.1. Идентификации Пользователя, зарегистрированного на сайте, для оформления заказа и (или) заключения Договора.</p>
<p>4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам сайта.<br />
4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования сайта, оказания услуг, обработка запросов и заявок от Пользователя.</p>
<p>4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.</p>
<p>4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.</p>
<p>4.1.6. Создания учетной записи для совершения покупок, если Пользователь дал согласие на создание учетной записи.</p>
<p>4.1.7. Уведомления Пользователя сайта о состоянии Заказа.</p>
<p>4.1.8. Обработки и получения платежей, подтверждения налога или налоговых льгот, оспаривания платежа, определения права на получение кредитной линии Пользователем.</p>
<p>4.1.9. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием сайта.</p>
<p>4.1.10. Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени сайта или от имени партнеров сайта.</p>
<p>4.1.11. Осуществления рекламной деятельности с согласия Пользователя.</p>
<p>4.1.12. Предоставления доступа Пользователю на сторонние сайты или сервисы партнеров данного сайта с целью получения их предложений, обновлений или услуг.</p>
<h2>5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</h2>
<p>5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.</p>
<p>5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заявок Пользователя, оформленных на сайте, в рамках Договора публичной оферты.</p>
<p>5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти только по основаниям и в порядке, установленным действующим законодательством.</p>
<h2>6. ОБЯЗАТЕЛЬСТВА СТОРОН</h2>
<p>6.1. Пользователь обязуется:</p>
<p>6.1.1. Предоставить корректную и правдивую информацию о персональных данных, необходимую для пользования сайтом.</p>
<p>6.1.2. Обновить или дополнить предоставленную информацию о персональных данных в случае изменения данной информации.</p>
<p>6.1.3. Принимать меры для защиты доступа к своим конфиденциальным данным, хранящимся на сайте.</p>
<p>6.2. Администрация сайта обязуется:</p>
<p>6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.</p>
<p>6.2.2. Не разглашать персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.</p>
<p>6.2.3. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.</p>
<h2>7. ОТВЕТСТВЕННОСТЬ СТОРОН</h2>
<p>7.1. Администрация сайта несёт ответственность за умышленное разглашение Персональных данных Пользователя в соответствии с действующим законодательством, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.</p>
<p>7.2. В случае утраты или разглашения Персональных данных Администрация сайта не несёт ответственность, если данная конфиденциальная информация:</p>
<p>7.2.1. Стала публичным достоянием до её утраты или разглашения.</p>
<p>7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.</p>
<p>7.2.3. Была получена третьими лицами путем несанкционированного доступа к файлам сайта.</p>
<p>7.2.4. Была разглашена с согласия Пользователя.</p>
<p>7.3. Пользователь несет ответственность за правомерность, корректность и правдивость предоставленной Персональных данных в соответствии с действующим законодательством.</p>
<h2>8. РАЗРЕШЕНИЕ СПОРОВ</h2>
<p>8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).</p>
<p>8.2 .Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.</p>
<p>8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством.</p>
<p>8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство.</p>
<h2>9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</h2>
<p>9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.</p>
<p>9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.</p>
</div>
	
 </section>
      <!-- End Section Content -->	 
</div>  
	  
	  



<!-- Footer -->

    	    <?php include $_SERVER['DOCUMENT_ROOT']."/add/footer.php"; ?>
<!-- End Footer -->
    </main>

<?= $criticalcss ?>

    <!-- JS Global Compulsory -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="assets/vendor/tether.min.js"></script>
    <script src="assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="assets/vendor/masonry/dist/masonry.pkgd.min.js"></script>
    <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="assets/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <script src="assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
     <script src="assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>

    <!-- JS Unify -->
    <script src="assets/js/hs.core.js"></script>
    <script src="assets/js/components/hs.header-side.js"></script>

<script  src="assets/vendor/appear.js"></script>
    <script src="assets/js/helpers/hs.hamburgers.js"></script>
    <script src="assets/js/components/hs.dropdown.js"></script>
    <script src="assets/js/components/hs.scrollbar.js"></script>
    <script src="assets/js/components/hs.popup.js"></script>
    <script src="assets/js/components/hs.carousel.js"></script>
    <script  src="assets/js/components/hs.onscroll-animation.js"></script>
    <script  src="assets/vendor/custombox/custombox.min.js"></script>
    <script  src="assets/js/components/hs.modal-window.js"></script>



    <!-- JS Custom -->
    <script src="assets/js/custom.js"></script>

<script>
    function changeVisible(classId) {
        
        
        var action='none';
        if(classId=='0'){
            action='block';
        }
        var currentElem=document.getElementsByClassName("class"+classId)
        
        for(var j=0; j<currentElem.length; j++){
                  currentElem[j].style.display='block';
        }
        
        for (var i = 1; i < 6; i++) {
            var classIndexName=parseInt(i);//int to str
            if(classId!=classIndexName){
                var hideElem="class"+classIndexName;
                var el=document.getElementsByClassName(hideElem);// class2
               for(var j=0; j<el.length; j++){
                  el[j].style.display=action; 
               }
            }
        }
            reLoad();
    }
    function reLoad(){
        $('.masonry-grid').imagesLoaded().then(function () {
          $('.masonry-grid').masonry({
            columnWidth: '.masonry-grid-sizer',
            itemSelector: '.masonry-grid-item',
            percentPosition: true
          });
        });
        
    }
</script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');
        
        $.HSCore.components.HSModalWindow.init('[data-modal-target]');

        $('#we-provide').slick('setOption', 'responsive', [{
          breakpoint: 992,
          settings: {
            slidesToShow: 2
          }
        }, {
          breakpoint: 576,
          settings: {
            slidesToShow: 1
          }
        }], true);

        // initialization of HSDropdown component
        $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
          afterOpen: function(){
            $(this).find('input[type="search"]').focus();
          }
        });
        

        // initialization of HSScrollBar component
        $.HSCore.components.HSScrollBar.init($('.js-scrollbar'));
        $.HSCore.components.HSCarousel.init('.js-carousel1');
        $.HSCore.components.HSCarousel.init('.js-carousel7');

        // initialization of masonry
        $('.masonry-grid').imagesLoaded().then(function () {
          $('.masonry-grid').masonry({
            columnWidth: '.masonry-grid-sizer',
            itemSelector: '.masonry-grid-item',
            percentPosition: true
          });
        });

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');
        
                    // initialization of go to section
        $.HSCore.components.HSGoTo.init('.js-go-to');
      });
      

            $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeaderSide.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });
      });
      
       $('#carousel-07').slick('setOption', 'responsive', [{
      breakpoint: 768,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2,
        centerPadding: 0
      }
    }], true);
      

      
      
      
       $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');
    </script>
    <script src="//profkarniz.ru/assets/js/jquery.bootstrap-autohidingnavbar.js"></script>
<script>
$("div.u-header-colapse-js").autoHidingNavbar();
</script>

<?php include $_SERVER['DOCUMENT_ROOT']."/add/statistic.php"; ?>
  </body>
</html>

