{% extends "base.html" %}
{% load static %}
{% load my_custom %}

{% block page_content %}
<body style="background-color: #1a1a1a;color: rgb(247,249,250);">
    <div class="container-fluid px-0" id="main-content">
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 offset-sm-0">
            <div class="pic" id="map">

            </div>
            <!--                <div class="pic" id="map"></div>-->
            </div>
            <div class="col-12 col-sm-6 col-md-6 align-self-center right-col" style="justify-content: center;">
                <div class="text-left mx-auto" style="width: 80%;">
                    <h1 class="fl-yellow" style="font-family: 'Roboto Mono', monospace;width: 90%;padding-top: 25px; font-size: 26px;">Hey, lets TRIP!</h1>
                    <h2>It is a trip randomizer!</h2>
                    <div>
                    <form method="POST" id="post-form2">
                        {% csrf_token %}
                        {% for field in roulette_form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                        {% for field in roulette_form.visible_fields %}
                        <!-- Default checked -->
                             {% if field.auto_id in trigger_fields and field|is_checkbox %}
                                  <div class="form-group form-check custom-control custom-switch" style="display:none" id="{{ field.auto_id }}_trigger_div">
                                    {{ field }}
                                    <label class="custom-control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                                    <small id="{{ field.auto_id }}_sm" class="form-text text-muted">{{ field.help_text }}</small>
                                </div>
                             {% elif field.auto_id in trigger_fields %}
                                <div class="form-group" style="display:none" id="{{ field.auto_id }}_trigger_div">
                                    <label class="form-check-label">{{ field.label }} <span class="trip-value">{{ field.value }}</span>
                                    </label>
                                    {{ field }}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                </div>
                            {% elif  field|is_checkbox %}
                                <div class="form-group form-check custom-control custom-switch">
                                    {{ field }}
                                    <label>{{ field.label }}</label>
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <label class="form-check-label">{{ field.label }}</label>
                                    {{ field }}
                                    <small id="{{ field.label }}_sm" class="form-text text-muted">{{ field.help_text }}</small>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="form-group">
                            <button class="btn btn-secondary" type="button" id="customize-button">CUSTOMIZE TRIP</button>

                            <p class="text-left main-text fl-yellow" style="font-family: 'Roboto Mono', monospace;width: 90%;padding-top: 15px;">Press the button — <span style="display: inline-block; border: 1px solid white; display: inline-block;border: 1px solid white;padding: 0 6px 0 6px;border-radius: 0.25rem"> bellow</span><br><br></p>
                            <button class="btn btn-primary" type="sumbit">Generate TRIP</button>
                            <div id="result" ><p><br><br></p>{{ result|safe }}</div>
                            <div id="right-panel" style=" background-color: #92a8d1">
                                <p>Total Distance: <span id="total"></span></p>
                                <p><a id="mapLink" href="#" title="Open in Google Maps" target="_blank">Open in Google Maps</a></p>
                            </div>
                        </div>
                    </form>

                    </div>


                </div>
            </div>
         	<div class="mx-auto" style="width: 80%;">
                {% include "sign.html"%}
            </div>

        </div>
    </div>
</body>
<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&types=regions&language=en&key=AIzaSyC1bv4VSX5EqyfQ5j4GM5Cpwi4wh2pjKwQ&callback=initialize"></script>
<script src="{% static '/assets/js/geo.js' %}"></script>
                    <script>
                    // Получаем ссылку на кнопку по ее id
var customizeButton = document.getElementById('customize-button');

// Получаем ссылку на форму по ее id
var postForm = document.getElementById('post-form2');

// Получаем ссылки на все элементы внутри формы с их id
var idRandomElement = postForm.querySelector('#id_random');
var idRoundsElement = postForm.querySelector('#id_rounds_trigger_div');
var idCitySizeElement = postForm.querySelector('#id_citySize_trigger_div');
var idRadiusElement = postForm.querySelector('#id_radius_trigger_div');
var idTypeElement = postForm.querySelector('#id_type_trigger_div');
var idLocalElement = postForm.querySelector('#id_local_trigger_div');

// Назначаем обработчик события click на кнопку
customizeButton.addEventListener('click', function() {
    // Получаем текущее значение атрибута "value" для каждого элемента
    var currentValueRandom = idRandomElement.value;
    var currentValueRounds = idRoundsElement.style.display;
    var currentValueCitySize = idCitySizeElement.style.display;
    var currentValueRadius = idRadiusElement.style.display;
<!--    var currentValueType = idTypeElement.style.display;-->
    var currentValueLocal = idLocalElement.style.display;

    // Меняем значения атрибутов "value" на противоположные
    idRandomElement.value = (currentValueRandom === 'True') ? 'false' : 'True';
    idRoundsElement.style.display = (currentValueRounds === 'none') ? 'block' : 'none';
    idCitySizeElement.style.display = (currentValueCitySize === 'none') ? 'block' : 'none';
    idRadiusElement.style.display = (currentValueRadius === 'none') ? 'block' : 'none';
<!--    idTypeElement.style.display = (currentValueType === 'none') ? 'block' : 'none';-->
    idLocalElement.style.display = (currentValueLocal === 'none') ? 'block' : 'none';
});

<!--    function updateValue(inputElement) {-->
<!--        var smallElement = inputElement.nextElementSibling;-->
<!--        if (smallElement && smallElement.tagName.toLowerCase() === 'small') {-->
<!--            smallElement.innerHTML = inputElement.value;-->
<!--        }-->
<!--    }-->
<!--function updateValue(inputElement) {-->
<!--    var labelElement = inputElement.parentElement; // Находим родительский элемент-->
<!--    var smallElement = labelElement.querySelector('span'); // Находим первый элемент <small> внутри родительского элемента-->
<!--    if (smallElement) {-->
<!--        smallElement.innerHTML = inputElement.value;-->
<!--    }-->
<!--}-->

function updateValue(inputElement) {
    var labelElement = inputElement.parentElement; // Находим родительский элемент
    var smallElement = labelElement.querySelector('span'); // Находим первый элемент <small> внутри родительского элемента
    if (smallElement && inputElement.getAttribute('name') === 'citySize') {
        var value = parseInt(inputElement.value);
        var sizeLabels = ['XS', 'S', 'M', 'L'];
        smallElement.textContent = sizeLabels[value];
    } else {
        // В случае других ползунков, просто отображаем числовое значение
        if (smallElement) {
            smallElement.textContent = inputElement.value;
        }
    }
}

    function toggleParameterText(inputElement) {
    var parent = inputElement.parentElement; // Находим родительский элемент
    var smallElement = parent.querySelector('small'); // Находим первый элемент <small> внутри родительского элемента
    var labelElement = parent.querySelector('label');
        if (inputElement.checked) {
            labelElement.innerHTML = 'Only country of startpoint'
            smallElement.innerHTML = "Now restrict the search to the country of startpoint";
        } else {
            labelElement.innerHTML = 'Any country'
            smallElement.innerHTML = "Now allow the search outside the country of startpoint";
        }
    }
</script>

{% endblock %}
