{% load static %}
<div class="mx-auto">
    <p class="contacts">den@wudmc.com<br></p>
</div>
<div class="mx-auto" style="
padding-bottom: 30px;">
    <a href="https://t.me/wudmc"><img src="{% static '/assets/img/tg.png' %}" style="width: 20px;height: 20px;margin-right: 5px;margin-left: 5px;"></a>
    <a href="https://www.facebook.com/wudmc"><img src="{% static '/assets/img/face.svg' %}" style="width: 20px;height: 20px;margin-right: 5px;margin-left: 5px;"></a>
    <a href="https://www.linkedin.com/in/wudmc/"><img src="{% static '/assets/img/linkedin.png' %}" style="width: 20px;height: 20px;margin-right: 5px;margin-left: 5px;"></a>
    <a href="https://github.com/WuDMC"><img src="{% static '/assets/img/github.png' %}" style="width: 20px;height: 20px;margin-right: 5px;margin-left: 5px;"></a>
</div>


