{% load static %}
                        <div class="mx-auto">
                            <p class="contacts">mironovdenis@list.ru<br>+7 920 9444-555<br></p>
                        </div>
                        <div class="mx-auto" style="
    padding-bottom: 30px;">
                        	<a href="https://t.me/wudmc"><img src="{% static '/assets/img/tg.png' %}" style="width: 20px;height: 20px;margin-right: 5px;margin-left: 5px;"></a>
                        	<a href="https://www.facebook.com/wudmc"><img src="{% static '/assets/img/face.svg' %}" style="width: 20px;height: 20px;margin-right: 5px;margin-left: 5px;"></a>
                          <a href="https://hh.ru/resume/3f6dccf9ff081cb5980039ed1f4f73644e4e72"><img src="{% static '/assets/img/hh.png' %}" style="width: 20px;height: 20px;margin-right: 5px;margin-left: 5px;"></a>
                        </div>


