{% extends "base.html" %}
{% load static %}

{% block page_content %}
<body style="background-color: #1a1a1a;color: rgb(247,249,250);">
    <div class="container-fluid px-0" id="main-content">
        <div class="row justify-content-between no-gutters">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="pic-skills">
                    <blockquote class="blockquote blockquote-1">
                        <p class="mb-0">Plz feel free to text me via TG or FB any time.<br></p>
                        <footer class="blockquote-footer">Denis</footer>
                    </blockquote>
                </div>
            </div>
            <div class="col-12 col-sm-7 col-md-7 col-lg-7 col-xl-7 align-self-center right-col" style="justify-content: center;">
                <div class="row no-gutters">
                    <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-left" style="padding-right: 24px;padding-left: 0;">
                        <div class="text-left mx-auto">
                            <h1 class="skill_h">TECHNICAL SKILLS</h1>
                            <ul class="main-text-skills" style="font-family: 'Roboto Mono', monospace;padding-left: 0;">
                                <li>Ruby (core)<br></li>
                                <li>Python (core, Django)<br></li>
                                <li>JavaScript (native)<br></li>
                                <li>SQL (PostgreSQL, MySQL, Clickhouse)<br></li>
                                <li>DevOps (Linux, Jenkins, Bash, Docker, GCP)<br></li>
                                <li>Proficiency with Regex anx Xpath<br></li>
                                <li>Version control (git)<br></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 col-xl-4" style="padding-right: 24px;padding-left: 0;">
                        <div class="text-left mx-auto">
                            <h1 class="skill_h">DATA ANALYSIS</h1>
                            <ul class="main-text-skills">
                                <li>Proficiency in data  ETL processes<br></li>
                                <li>Experience with data analysis and special investigations<br></li>
                                <li>Ability to work with structured and unstructured data<br></li>
                                <li>Knowlege in statictics, Math and ML<br></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 col-xl-4" style="padding-right: 24px;padding-left: 0;">
                        <div class="text-left mx-auto">
                            <h1 class="skill_h">SOFT SKILLS</h1>
                            <ul class="main-text-skills">
                                <li>Agile/Scrum methodologies<br></li>
                                <li>Ability to work independently or as part of a team<br></li>
                                <li>GTD methodology<br></li>
                                <li>Strong communication and collaboration skills<br></li>
                                <li>Ability to manage multiple tasks and priorities<br></li>
                                <li>Strong problem-solving skills<br></li>
                                <li>English: B2 (upper-intermediate)<br></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-skills">
                    <p class="line-1 anim-typewriter fl-yellow" style="font-family: 'Roboto Mono', monospace;padding-top: 0;margin-top: 30px;margin-left: 0;">What about my&nbsp;<a href="/hobbies.html">hobbies?</a> <br></p>
                </div>
         	<div class="mx-auto" style="width: 100%;">   
                {% include "sign.html"%}
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

{% endblock %}
