{% extends "base.html" %}
{% load static %}

{% block page_content %}
<body style="background-color: #1a1a1a;color: rgb(247,249,250);">
    <div class="container-fluid px-0" id="main-content">
        <div class="row justify-content-between no-gutters">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="pic-skills">
                    <blockquote class="blockquote blockquote-1">
                        <p class="mb-0">Plz feel free to text me via TG or FB any time.<br></p>
                        <footer class="blockquote-footer">Denis</footer>
                    </blockquote>
                </div>
            </div>
            <div class="col-12 col-sm-7 col-md-7 col-lg-7 col-xl-7 align-self-center right-col" style="justify-content: center;">
                <div class="row no-gutters">
                    <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-left" style="padding-right: 24px;padding-left: 0;">
                        <div class="text-left mx-auto">
                            <h1 class="skill_h">TECHNICAL STACK</h1>
                            <ul class="main-text-skills" style="font-family: 'Roboto Mono', monospace;padding-left: 0;">
                                <li>Python, SQL (BigQuery, PostgreSQL, MySQL, ClickHouse)</li>
                                <li>Google Cloud Specialization: BigQuery, Dataform, Cloud Storage, Cloud Run, Cloud Build, Pub/Sub</li>
                                <li>Data streaming & brokers: Apache Kafka, Google Pub/Sub, RabbitMQ</li>
                                <li>Data pipelines & orchestration: Airflow, Prefect, Jenkins</li>
                                <li>DevOps basics: Linux, Docker, CI/CD, IaaC</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 col-xl-4" style="padding-right: 24px;padding-left: 0;">
                        <div class="text-left mx-auto">
                            <h1 class="skill_h">DATA ENGINEERING</h1>
                            <ul class="main-text-skills">
                                <li>Data warehouse design (Kimball, modern approaches)</li>
                                <li>ETL/ELT pipelines</li>
                                <li>Web scraping & data parsing</li>
                                <li>Data structures & algorithms</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 col-xl-4" style="padding-right: 24px;padding-left: 0;">
                        <div class="text-left mx-auto">
                            <h1 class="skill_h">SOFT SKILLS</h1>
                            <ul class="main-text-skills">
                                <li>Team management (small engineering teams)</li>
                                <li>Conducting technical talks & knowledge sharing</li>
                                <li>Agile/Scrum methodologies</li>
                                <li>Problem solving & cross-team collaboration</li>
                                <li>Fluent English: B2/С1 (Upper-Intermediate)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-skills">
                    <p class="line-1 anim-typewriter fl-yellow" style="font-family: 'Roboto Mono', monospace;padding-top: 0;margin-top: 30px;margin-left: 0;">What about my&nbsp;<a href="/hobbies.html">hobbies?</a> <br></p>
                </div>
         	<div class="mx-auto" style="width: 100%;">   
                {% include "sign.html"%}
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

{% endblock %}
