{% extends "base.html" %}
{% load static %}
{% load my_custom %}

{% block page_content %}
<body style="background-color: #1a1a1a;color: rgb(247,249,250);">
    <div class="container-fluid px-0" id="main-content">
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 offset-sm-0">
            <div class="maps" id="map">
            </div>
                    <div id="preloader" style="display:none">
                        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    </div>
                    <div id="error" style="display:none">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 64 64" id="error-svg"><circle cx="32" cy="32" r="28" fill="none" stroke="#fcfc6f" stroke-miterlimit="10" stroke-width="4"></circle><line x1="32" x2="32" y1="18" y2="38" fill="none" stroke="#fcfc6f" stroke-miterlimit="10" stroke-width="4"></line><line x1="32" x2="32" y1="42" y2="46" fill="#fcfc6f" stroke="#fcfc6f" stroke-miterlimit="10" stroke-width="4"></line></svg>
                        <p id="error-text"></p>
                    </div>
<!--            <button class="btn btn-light" style="display:none" type="button" id="google_button">Open in Google Maps-->
                <a class="btn btn-light" style="display:none" type="button" id="mapLink" href="#" title="Open in Google Maps" target="_blank">
                    Open in Google Maps
                </a>
<!--            </button>-->
            <div id="geo_results" style="display:none">
                <div id="geo_details">
                    <p class="text-left main-text fl-yellow">During this journey you will cover <span id="total"></span> and make <span id="result" >{{ result|safe }} </span> stops at:</p>
                    <div id="stoplist">{{ result|safe }}</div>
                        <button class="btn btn-light btn-share" style="display:none" type="button" id='journey-share-button'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                              <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"/>
                            </svg>
                        </button>
                    <div id="right-panel" style="display:none; background-color: #92a8d1"></div>
                </div>
            </div>
            <!--                <div class="pic" id="map"></div>-->
            </div>
            <div class="col-12 col-sm-6 col-md-6 right-col" style="justify-content: center;">
                <div class="text-left mx-auto" style="width: 80%;">
                    <h1 class="fl-yellow" style="font-family: 'Roboto Mono', monospace;width: 90%;padding-top: 25px; font-size: 24px;">Hey, just enter your</h1>
                    <h2>STARTPOINT</h2>
                    <div>
                    <form method="POST" id="post-form2">
                        {% csrf_token %}
                        {% for field in roulette_form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                        {% for field in roulette_form.visible_fields %}
                        <!-- Default checked -->
                             {% if field.auto_id in trigger_fields and field|is_checkbox %}
                                  <div class="form-group form-check custom-control custom-switch" style="display:none" id="{{ field.auto_id }}_trigger_div">
                                    {{ field }}
                                    <label class="custom-control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                                    <small id="{{ field.auto_id }}_sm" class="form-text text-muted" style="margin-top:-2px;">{{ field.help_text }}</small>
                                </div>
                             {% elif field.auto_id in trigger_fields %}
                                <div class="form-group" style="display:none" id="{{ field.auto_id }}_trigger_div">
                                    <label class="form-check-label"  >{{ field.label }} <span class="trip-value">{{ field.value }}</span>
                                    </label>
                                    <small class="form-text text-muted" style="margin-top:-2px;">{{ field.help_text }}</small>
                                    {{ field }}
                                </div>
                            {% elif field.label == 'Begin here' %}
                                <div class="form-group">
                                    <label class="form-check-label">{{ field.label }}</label>
                                    {{ field }}
                                    <small id="{{ field.label }}_sm" class="form-text text-muted">{{ field.help_text }}</small>
                                    <br>
                                    <button class="btn btn-outline-light btn-sm btn-check" type="button" id="customize-button">CUSTOMIZED</button>
                                    <button class="btn active btn-outline-light btn-sm btn-check" type="button" id="random-button" autofocus>RANDOM</button>

                                </div>
                            {% else %}
                                <div class="form-group">
                                    <label class="form-check-label">{{ field.label }}</label>
                                    {{ field }}
                                    <small id="{{ field.label }}_sm" class="form-text text-muted">{{ field.help_text }}</small>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="form-group">
<!--                            <button class="btn btn-secondary" type="button" id="customize-button">CUSTOMIZE TRIP</button>-->

                            <p class="text-left main-text fl-yellow" style="font-family: 'Roboto Mono', monospace;width: 90%;padding-top: 15px;">Press the BIG BUTTON to generate your uniq <span id="span_journey_type" style="display: inline-block; border: 1px solid white; display: inline-block;border: 1px solid white;padding: 0 6px 0 6px;border-radius: 0.25rem">random</span> journey</p>
                            <button class="btn btn-lg btn-primary" type="sumbit">Generate route</button>
                        </div>

                        </form>
                    </div>


                </div>
<!--                                    <div class="mx-auto" style="width: 80%;">-->
<!--                                        {% include "sign.html"%}-->
<!--                                    </div>-->
            </div>

        </div>
    </div>
</body>
<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&types=regions&language=en&key=AIzaSyC1bv4VSX5EqyfQ5j4GM5Cpwi4wh2pjKwQ&callback=initialize"></script>
<script src="{% static '/assets/js/geo.js' %}"></script>
<script>

</script>

{% endblock %}
