{% extends "base.html" %}
{% load static %}

{% block page_content %}
<body style="background-color: #1a1a1a;color: rgb(247,249,250);">
    <div class="container-fluid px-0" id="main-content">
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 offset-sm-0">
            <div>
              <iframe
                width="600"
                src="https://lookerstudio.google.com/embed/reporting/87cf00b3-86c9-4203-865b-54320c762bb6/page/p_6nkbl8phkd"
                frameborder="0"
                style="border:0; width: 100%; height: 100vh; min-height: 700px;"
                allowfullscreen
                sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
              </iframe>
            </div>


            </div>
            <div class="col-12 col-sm-6 col-md-6 align-self-center right-col" style="justify-content: center;">
                <div class="text-left mx-auto" style="width: 80%;">
                    <h1 class="fl-yellow" style="font-family: 'Roboto Mono', monospace;width: 90%;padding-top: 25px; font-size: 26px;">Job insights with</h1>
                    <h1 style="padding-top: 5px;">VISIONZ</h1>
                    <p class="text-left main-text fl-yellow" style="font-family: 'Roboto Mono', monospace;width: 90%;padding-top: 15px;">Visionz would be a cutting-edge, data-driven platform designed to automate and optimize up to 90% of the job search process.<br><br>
                        <span class="fl-yellow" style="display: inline-block; border: 1px solid white;padding: 0 6px 0 6px;border-radius: 0.25rem">Still in development</span>, here are the planned features:
                    </p>

                    <p class="text-left main-text fl-yellow" style="font-family: 'Roboto Mono', monospace;width: 90%;padding-top: 15px;">
                        <ul style="list-style-type: none;">
                            <li>⊚ <strong> All Jobs in one place:</strong>  Scraping from Telegram, LinkedIn, Facebook, job boards, and corporate resources.</li>
                            <li>⊚ <strong> Job tracker:</strong>  Start work with job offers in 1-click and easy track the progress.</li>
                            <li>⊚ <strong> Data Insights</strong>  Interactive dashboards displaying where and when jobs were posted.</li>
                            <li>⊚ <strong> Smart Filters:</strong>  Advanced filtering options with incl/excl tech stack  to quickly find relevant jobs.</li>
                            <li>⊚ <strong> Easy-Apply:</strong>  Automated and manual applying options.</li>
                            <li>⊚ <strong> Learning path:</strong>  ML&AI-recommendations based on resume and job comparison.</li>
                            <li>⊚ <strong> Salary Insights :</strong>  View salary estimates for different positions and industries.</li>
                            <li>⊚ <strong> Interview Preparation:</strong>  Access tips and resources to help prepare for interviews.</li>
                        </ul>
                    </p>

                    <p class="text-left main-text fl-yellow" style="font-family: 'Roboto Mono', monospace;width: 90%;padding-top: 15px;"><a href="https://t.me/thirtysixfeatures"><u>Stay tuned</u></a> for more updates as Visionz continues to evolve and make job searching smarter, faster, and more personalized!
                    </p>
                </div>

<!--                <div class="mx-auto" style="width: 80%;">-->
<!--                    {% include "sign.html"%}-->
<!--                </div>-->
            </div>
        </div>
    </div>
</body>
{% endblock %}
